.converter-current {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  gap: 20px;

    &__block {
      display: flex;
      justify-content: center;
      text-align: center;
      gap: 10px;
    }
}